:root {
    --curriculum-size-multiplier: 1;
    --curriculum-width: 210mm;
    --curriculum-height: 297mm;
    --curriculum-margin: 120px;
    --section-scale: 1.2;
}

html,
body {
	overflow-y: auto;
}

.background,
article {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.background {
    background-image: url(../img/cv.svg);
    background-repeat: no-repeat;
    -webkit-clip-path: url(../img/cv.svg);
    clip-path: url(../img/cv.svg);
    filter: drop-shadow(var(--size-small) var(--size-small) var(--size-large) #a2c7ca)
            drop-shadow(calc(-1 * var(--size-small)) calc(-1 * var(--size-small)) var(--size-large) #dcffff);

    width: calc(var(--curriculum-width)  * var(--curriculum-size-multiplier));
    height: calc(var(--curriculum-height) * var(--curriculum-size-multiplier));
}

article {
    top: var(--size-huge);

    width: calc(var(--curriculum-width) * var(--curriculum-size-multiplier) - var(--curriculum-margin));
    
    display: grid;
    grid-template-columns: var(--size-regular) 2fr 2fr 1fr 2fr 2fr var(--size-regular);
    grid-template-rows: 1fr;
}

article div.citizenship {
    grid-row: 1 / span 2;
    grid-column: 5 /  span 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

article div.citizenship img {
    grid-row: 2;
    height: var(--size-regular);
}

article div.citizenship p {
    grid-row: 1;
    grid-column: 1 / span 2;
    margin: 0;
    align-content: end;
    margin-bottom: var(--size-tiny);
}

article section {
    grid-column: 2 / span 5;
    text-align: justify;

    opacity: 100%;
    filter: none;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    transition: all 0.8s ease-in-out;
}

article section:hover {
    transform: scale(var(--section-scale));
    filter: drop-shadow(
        var(--size-tiny) 
        var(--size-tiny) 
        var(--size-tiny) 
        var(--color-third)
    );
}

article:hover section:not(:hover) {
    opacity: 30%;
    transition: all 0.8s;
}

article section.gap {
    margin-top: var(--size-regular);
}

article section div.shape {
    -webkit-clip-path: polygon(
        var(--size-small) 0px,
        calc(100% - var(--size-small)) 0px,
        100% var(--size-small),
        100% 100%,
        var(--size-small) 100%,
        0px calc(100% - var(--size-small)),
        0px var(--size-small)
    );
    clip-path: polygon(
        var(--size-small) 0px,
        calc(100% - var(--size-small)) 0px,
        100% var(--size-small),
        100% 100%,
        var(--size-small) 100%,
        0px calc(100% - var(--size-small)),
        0px var(--size-small)
    );
    background-color: var(--color-second);
    opacity: 100%;

    grid-row: 1;
    grid-column: 1;

    width: 100%;
    height: 100%;
}

article section div.shape::before {
    -webkit-clip-path: polygon(
        var(--size-small) 0px, 
        calc(100% - var(--size-small)) 0px, 
        100% var(--size-small), 
        100% 100%, 
        var(--size-small) 100%, 
        0px calc(100% - var(--size-small)), 
        0px var(--size-small)
    );
    clip-path: polygon(
        var(--size-small) 0px, 
        calc(100% - var(--size-small)) 0px, 
        100% var(--size-small), 
        100% 100%, 
        var(--size-small) 100%, 
        0px calc(100% - var(--size-small)), 
        0px var(--size-small)
    );
    background-color: var(--color-first);

    font-weight: bolder;

    grid-row: 1;
    grid-column: 1;

    display: inline-block;

    width: calc(100% - var(--size-tiny));
    height: calc(100% - var(--size-tiny));

    margin-left: calc(var(--size-tiny) / 2);
    margin-top: calc(var(--size-tiny) / 2);

    content: ' ';
}

article section p {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    padding: 0px var(--size-small);
}

article section div.head {
    -webkit-clip-path: polygon(
        var(--size-tiny) 0px,
        calc(100% - var(--size-tiny)) 0px,
        100% var(--size-tiny),
        100% 100%,
        var(--size-tiny) 100%,
        0px calc(100% - var(--size-tiny)),
        0px var(--size-tiny)
    );
    clip-path: polygon(
        var(--size-tiny) 0px,
        calc(100% - var(--size-tiny)) 0px,
        100% var(--size-tiny),
        100% 100%,
        var(--size-tiny) 100%,
        0px calc(100% - var(--size-tiny)),
        0px var(--size-tiny)
    );
    background-color: var(--color-third);
    opacity: 100%;

    grid-row: 1;
    grid-column: 1;

    z-index: 3;

    width: 95%;
    height: 20px;

    display: grid;
    grid-template-columns: var(--size-regular) 1fr 3fr 5fr 2fr var(--size-regular);
    grid-row: 1fr;

    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

article section div.head img {
    grid-column: 2;
    height: 20px;
}

article section div.head h4,
article section div.head h5,
article section div.head h6 {
    align-content: center;
}

article section div.head h4 {
    grid-column: 3;
}

article section div.head h5
{ 
    grid-column: 4;
}

article section div.head h6 {
    grid-column: 5;
}

article h3.about::after,
article h3.about::before {
    content: '\f05a';
}

article section.about {
    grid-row: 4;
    grid-column: 2 / span 4;
}

article h3.skills::after,
article h3.skills::before {
    content: '\f06d';
}

article h3.skills {
    grid-column: 6 / span 2;
    grid-row: 3;
}

article section.skills {
    grid-column: 6 / span 2;
    grid-row: 4;

    justify-items: center;
}

article section.skills:hover {
    transform: scale(1.5) translateY(15px);
    filter: none;
}

article section.skills ul {
    max-width: fit-content;
}

article h3.work::after,
article h3.work::before {
    content: '\f57d';
}

article h3.education::after,
article h3.education::before {
    content: '\f501';
}

article img.me {
    width: 18mm;
    height: 20mm;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    align-self: end;

    grid-row: 17 / span 2;
    grid-column: 4;

    margin-top: 104px;
}

h1,
h2 {
    grid-column: 2 / span 3;
    margin: 0px;
    text-align: left;
    padding-left: var(--size-tiny);
}

h3 {
    grid-column: 2 / span 3;
    font-size: var(--font-regular);
    align-self: start;
    text-align: center;
}

h3::after,
h3::before {
    font-family: 'FontAwesome';
    margin: 0px;
    padding-right: var(--size-small);
    padding-left: var(--size-small);
}

h4,
h4 a,
h5, 
h6 {
    font-size: var(--font-small);
    margin: 0px;
    color: white;
    opacity: 70%;
}

h4 {
    margin-left: var(--size-tiny);
}

h6 {
    text-align: right;
    margin-right: var(--size-tiny);
}

p {
    font-size: var(--font-small);
}

ul.social {
    margin-top: calc(2 * var(--size-large));
    padding: var(--size-tiny);

    grid-row: 17;
    grid-column: 2 / span 5;
    list-style: none;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

ul.social li:nth-child(2)::before,
ul.social li:nth-child(4)::before {
    display: none;
}

ul.social li:nth-child(1)::before {
    content: '\f0ac';
    grid-column: 1;
    grid-row: 1;
}

ul.social li:nth-child(2)::after {
    content: '\f0e1';
    grid-column: 3;
    grid-row: 1;
}

ul.social li:nth-child(3)::before {
    content: '\f09b';
    grid-column: 1;
    grid-row: 2;
}

ul.social li:nth-child(4)::after {
    content: '\f0e0';
    grid-column: 3;
    grid-row: 2;
}

ul.social li:nth-child(1),
ul.social li:nth-child(3) {
    text-align: left;
    margin-left: var(--size-large);
}

ul.social li:nth-child(2),
ul.social li:nth-child(4) {
    text-align: right;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {

    :root {
        --size-tiny: 5px;
        --size-small: 10px;
        --size-regular: 20px;
        --size-large: 40px;
        --size-huge: 60px;
        --section-scale: 1.15;
        --font-tiny: 0.5rem;
        --font-small: 0.8rem;
        --font-regular: 0.9rem;
        --font-large: 1.2rem;
        --font-huge: 1.5rem;
    }

    article {
        margin-left: var(--size-huge);
    }

    h1 {
        font-size: var(--font-large);
    }
    
    h2 {
        font-size: var(--font-regular);
    }

    h3,
    h4,
    h4 a,
    h5, 
    h6,
    p {
        font-size: var(--font-small);
    }

    ul.social {
        margin-top: 30px;
        padding: var(--size-small);
    }

    article img.me {
        margin-top: 36px;
    }
}

@media only screen and (max-width: 734px) and (orientation: landscape) {

    :root {
        --size-tiny: 5px;
        --size-small: 10px;
        --size-regular: 20px;
        --size-large: 40px;
        --size-huge: 60px;
        --section-scale: 1.15;
        --font-tiny: 0.5rem;
        --font-small: 0.8rem;
        --font-regular: 0.9rem;
        --font-large: 1.2rem;
        --font-huge: 1.5rem;
    }

    article {
        margin-left: var(--size-huge);
    }

    h1 {
        font-size: var(--font-large);
    }
    
    h2 {
        font-size: var(--font-regular);
    }

    h3,
    h4,
    h4 a,
    h5, 
    h6,
    p {
        font-size: var(--font-small);
    }

    ul.social {
        margin-top: 30px;
        padding: var(--size-small);
    }

    article img.me {
        margin-top: 36px;
    }
    
}

@media print {

    :root {
        --business-size-multiplier: 1;
        --business-width: 90mm;
        --business-height: 50mm;
        --img-width: 25mm;
        --img-height: 25mm;
    }

    body{
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .background {
        filter: none;
    }

    article section {
        transition: none;
    }
    
    article section:hover {
        transform: none;
        filter: none;
    }

    article:hover section:not(:hover) {
        opacity: 100%;
        transition: none;
    }

    article section.about {
        height: 90%;
    }

    article img.me {
        margin-top: 100px;
        z-index: 5;
    }

    ul.skills li:hover {
        background-color: rgba(0, 0, 0, 0);
        color: var(--color-second);
        transition: none;
    }

}