:root {
    --curriculum-size-multiplier: 0.5;
    --curriculum-width: 210mm;
    --curriculum-height: 297mm;
}

h1::before {
    content: "Jonathan Pinto Sperafico";
    font-size: 18px;
}

h2::before {
    content: "Sr. Test Automation Engineer";
    font-size: 16px;
}

h3 {
    font-size: 14pt;
    align-self: start;
    margin-top: 0px;
    text-align: center;
}

h3.about::after,
h3.about::before {
    font-family: 'FontAwesome';
    margin: 0px;
    padding-right: var(--size-small);
    padding-left: var(--size-small);
    content: '\f05a';
}

main {
	margin: 10% 0px 0px 0px;
	height: 700px;
	width: 100%;
	box-sizing: border-box;
}

main .inner {
	margin: auto;
	width: 500px;
    height: 80%;
	perspective: 1000px;
	position: relative;
}

main .inner .carrousel {
	width: 100%;
	position: absolute;
	float: right;
	/* animation: rotar 20s infinite linear; */
	transform-style: preserve-3d;
}

main .inner .carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

main .inner .carrousel article {
    background-image: url(../img/cv.svg);
    background-repeat: no-repeat;
    clip-path: url(../img/cv.svg);

    width: calc(var(--curriculum-width)  * var(--curriculum-size-multiplier));
    height: calc(var(--curriculum-height) * var(--curriculum-size-multiplier));

	overflow: hidden;
	position: absolute;

    filter: drop-shadow(var(--size-small) var(--size-small) var(--size-large) #a2c7ca)
            drop-shadow(calc(-1 * var(--size-small)) calc(-1 * var(--size-small)) var(--size-large) #dcffff);
}

main .inner .carrousel article:nth-child(1) {
	transform: rotateY(0deg) translateZ(200px); 
} main .inner .carrousel article:nth-child(2) {
	transform: rotateY(90deg) translateZ(200px); 
} main .inner .carrousel article:nth-child(3) {
	transform: rotateY(180deg) translateZ(200px); 
} main .inner .carrousel article:nth-child(4) {
	transform: rotateY(270deg) translateZ(200px); 
}

@keyframes rotar {
	from {
		transform: rotateY(360deg);
	} to {
		transform: rotateY(0deg);
	}
}

main .inner .carrousel article div.content {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
}

article h1,
article h2 {
    grid-column: 1 / span 2;
    margin: 0px;
    text-align: left;
    padding-left: 5px;
}

article h3 {
    grid-column: 2;
    font-size: 12px;
    margin: auto;
    padding-top: 15px;
}

article section {
    grid-column: 1 / span 3;
    margin: 0px 10px;
    text-align: justify;
    border: 1px solid red;

}

article section p {
    font-size: 12px;
    margin: 0px;
    padding: 10px;
}
