:root {
    --color-first: #bfeaee;
    --color-second: #648285;
    --color-third: #194961;
    --size-tiny: 5px;
    --size-small: 10px;
    --size-regular: 25px;
    --size-large: 40px;
    --size-huge: 60px;
    --img-width: 240px;
    --img-height: 240px;
    --font-tiny: 0.5rem;
    --font-small: 0.7rem;
    --font-regular: 0.9rem;
    --font-large: 1.2rem;
    --font-huge: 1.5rem;
}

html {
    background-color: var(--color-first);
}

body {
    margin: 0px;
    padding: 0px;
}

html,
body {
	overflow-x: hidden;
	overflow-y: hidden;
}

ul.skills {
    list-style: none;
    align-content: center;
    text-align: right;
    margin: 0px;
    padding-inline-start: 0px;
}

ul.skills li {
    font-size: var(--font-tiny);
    margin-bottom: var(--size-tiny);
}

ul.skills li:hover {
    background-color: var(--color-third);
    color: var(--color-first);
    transition: all 0.3s ease-in-out;
}

ul.skills li::after {
    font-family: 'FontAwesome';
    margin: 0px;
    padding-right: 0;
    padding-left: 10px;
}

ul.skills li:nth-child(1)::after {
    content: '\f2d3  \f2d3  \f2d3  \f2d3  \f0c8';
}

ul.skills li:nth-child(2)::after {
    content: '\f2d3  \f2d3  \f2d3  \f0c8  \f0c8';
}

ul.skills li:nth-child(3)::after {
    content: '\f2d3  \f2d3  \f0c8  \f0c8  \f0c8';
}

ul.skills li:nth-child(4)::after {
    content: '\f2d3  \f2d3  \f2d3  \f2d3  \f2d3';
}

ul.skills li:nth-child(5)::after {
    content: '\f2d3  \f2d3  \f2d3  \f2d3  \f2d3';
}

ul.skills li:nth-child(6)::after {
    content: '\f2d3  \f2d3  \f2d3  \f0c8  \f0c8';
}

ul.skills li:nth-child(7)::after {
    content: '\f2d3  \f2d3  \f2d3  \f0c8  \f0c8';
}

ul.skills li:nth-child(8)::after {
    content: '\f2d3  \f2d3  \f2d3  \f2d3  \f0c8';
}

ul.skills li:nth-child(9)::after {
    content: '\f2d3  \f2d3  \f2d3  \f0c8  \f0c8';
}

ul.social {
    margin: 0px;
    padding: var(--size-tiny);
    list-style: none; 
}

ul.social li {
    margin-bottom: var(--size-small);
    cursor: pointer;
}

ul.social li::before,
ul.social li::after {
    font-family: 'FontAwesome';
    margin: 0px;
}

ul.social li::before {
    padding-right: var(--size-small);
}

ul.social li::after {
    padding-left: var(--size-small);
}

ul.social li:nth-child(1)::before {
    content: '\f0ac';
}

ul.social li:nth-child(2)::before {
    content: '\f0e1';
}

ul.social li:nth-child(3)::before {
    content: '\f09b';
}

ul.social li:nth-child(4)::before {
    content: '\f0e0';
}

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--color-second);
}

h1 {
    font-size: var(--font-huge);
    font-style: italic;
    font-weight: bold;
    align-self: end;
    margin-bottom: 0px;
    text-align: center;
}

h2 {
    font-size: var(--font-large);
    font-style: italic;
    font-weight: bold;
    align-self: start;
    margin-top: 0px;
    text-align: center;
}

footer {
    position: fixed;
    top: 110px;
    right: var(--size-regular);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    width: var(--size-huge);
    height: var(--size-huge);

    align-items: center;
    text-align: center;

    background-color: var(--color-third);
    border-radius: 50%;
}

footer i {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-size: var(--font-huge);
    color: var(--color-first);
}

footer a {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    color: var(--color-third);
    font-weight: bolder;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    :root {
        --size-tiny: 2px;
        --size-small: 5px;
        --size-regular: 10px;
        --size-large: 20px;
        --size-huge: 30px;
        --img-width: 120px;
        --img-height: 125px;
    }

    ul.skills {
        list-style: none;
        align-content: center;
        margin-right: auto;
        padding-left: 35px;
    }

    h1 {
        margin-top: 0px;
    }
    
}

@media only screen and (max-width: 734px) and (orientation: landscape) {
    :root {
        --size-tiny: 2px;
        --size-small: 5px;
        --size-regular: 10px;
        --size-large: 20px;
        --size-huge: 30px;
        --img-width: 120px;
        --img-height: 125px;
    }

}

@media print {
    footer {
        display: none;
    }
}