@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .default-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .hex {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .font-family-awesome {
    font-family: 'FontAwesome';
  }
  .skill-5 {
    content: '\f2d3  \f2d3  \f2d3  \f2d3  \f2d3';
  }
  .skill-4 {
    content: '\f2d3  \f2d3  \f2d3  \f2d3  \f0c8';
  }
  .skill-3 {
    content: '\f2d3  \f2d3  \f2d3  \f0c8  \f0c8';
  }
  .skill-2 {
    content: '\f2d3  \f2d3  \f0c8  \f0c8  \f0c8';
  }
  .skill-1 {
    content: '\f2d3  \f0c8  \f0c8  \f0c8  \f0c8';
  }
  .social-website {
    content: '\f0ac';
  }
  .social-linkedin {
    content: '\f0e1';
  }
  .social-github {
    content: '\f09b';
  }
  .social-mail {
    content: '\f0e0';
  }
  .head-education {
    grid-template-columns: 1fr 3fr 3fr 3fr;
  }
  .head-work {
    grid-template-columns: 1fr 2fr 3fr 2fr;
  }
}